<ul class="list-group">
    <li class="list-group-item" *ngFor="let research of (researchsToShow$ | async); trackBy: researchTrackByFn">
        <fieldset>
            <legend>{{research.type.name}} : {{research.level}}</legend>
            <p [tr]="'researchs.'+research.type.name+'.description'"></p>
            <div>
                <span tr>cost</span>
                <ul>
                    <li *ngFor="let resourceCost of research.cost">
                        <span [tr]="'resources.' + resourceCost.resource.name + '.name'"></span>
                        : {{resourceCost.count}}
                    </li>
                </ul>
            </div>
            <div>
                <span tr>bonus</span>
                <ul>
                    <li *ngFor="let resourceBonus of research.bonusResources">
                        <span [tr]="'resources.' + resourceBonus.resource.name + '.name'"></span>
                        : {{resourceBonus.count | percentage}}
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" (click)="backgroundAction.execute(storeService.research(research.type))"
                tr>research</button>
        </fieldset>
    </li>
</ul>