<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let research of (researchsService.allShowableResearchs$ | async); trackBy: researchTrackByFn">
        <fieldset>
            <legend>
                <span [tr]="'researchs.'+research.research.name+'.name'"></span> : {{research.level}}
                <button (click)="favoritesService.addResearchInFavorites(research.research)">Favorites</button>
            </legend>
            <p [tr]="'researchs.'+research.research.name+'.description'"></p>
            <div>
                <span tr>cost</span>
                <ul>
                    <li *ngFor="let resourceCost of research.costNextLevel">
                        <span [tr]="'resources.' + resourceCost.resource.name + '.name'"></span> :
                        <span [ngClass]="{'c-error': (resourceCost.isOk$ | async) >= 0}"
                            class="c-first">{{resourceCost.count}}</span>
                    </li>
                </ul>
            </div>
            <div>
                <span tr>bonus</span>
                <ul>
                    <li *ngFor="let resourceBonus of research.bonusResourceNextLevel">
                        <span [tr]="'resources.' + resourceBonus.resource.name + '.name'"></span>
                        : {{resourceBonus.count | percentage}}
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" (click)="backgroundAction.execute(storeService.research(research.research))"
                tr>research</button>
        </fieldset>
    </li>
</ul>