<ul class="list-group">
    <li class="list-group-item" *ngFor="let research of (researchsToShow$ | async); trackBy: researchTrackByFn">
        <fieldset>
            <legend>
                <i class="fa fa-star btn favorite-btn"
                    [ngClass]="{'is-favorite': research.isFavorite, 'is-not-favorite': research.isFavorite === false}"
                    (click)="backgroundAction.execute(storeService.toggleResearchFromFavorites(research.infos.research))"></i>
                <span [tr]="'researchs.'+research.infos.research.name+'.name'"></span> : {{research.level || 0}}
            </legend>
            <p [tr]="'researchs.'+research.infos.research.name+'.description'"></p>
            <div>
                <span tr>cost</span>
                <ul>
                    <li *ngFor="let resourceCost of research.infos.costNextLevel">
                        <span [tr]="'resources.' + resourceCost.resource.name + '.name'"></span> :
                        <span [ngClass]="{'c-error': (resourceCost.isOk$ | async) >= 0}"
                            class="c-first">{{resourceCost.count}}</span>
                    </li>
                </ul>
            </div>
            <div>
                <span tr>bonus</span>
                <ul>
                    <li *ngFor="let resourceBonus of research.infos.bonusResourceNextLevel">
                        <span [tr]="'resources.' + resourceBonus.resource.name + '.name'"></span>
                        :
                        <span
                            *ngIf="research.infos.bonusResourceCurrentLevel.getElement(resourceBonus.resource.name); let current">
                            <span class="c-error">{{current.count | percentage}}</span> =>
                        </span>
                        {{resourceBonus.count | percentage}}
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary"
                (click)="backgroundAction.execute(storeService.research(research.infos.research))" tr>research</button>
        </fieldset>
    </li>
</ul>