<div role="group" [formGroup]="formSrc">
    <div class="input-group">
        <input formControlName="currentAdd" [typeahead]="canAdd" class="form-control" [typeaheadMinLength]="0">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="add()">Add</button>
        </div>
    </div>
    <div formArrayName="selected">
        <div class="form-row" *ngFor="let resourceValue of formSrc.controls.selected['controls']; let i = index"
            [formGroupName]="i">
            <label [ngClass]="{'col-6': withValue, 'col-10': !withValue}">{{resourceValue.value.name}}</label>
            <input *ngIf="withValue" class="col-4" type="number" formControlName="value" />
            <button class="col-2 btn btn-outline-secondary" type="button" (click)="remove(i)">Remove</button>
        </div>
    </div>
</div>