.select-lang {
    cursor: pointer;
}

.main-game-container {
    display: flex;
    flex-direction: row;
}

.main-game {
    flex-grow: 1;
}

.favorites {
    width: 200px;
}
.alerts {
    position: absolute;
    right: 0px;
}