.select-lang button {
    height: 24px;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.select-lang {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.select-lang li {
    display: inline;
    padding: 5px;
}