.building-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.building-list > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-favorite {
  color: yellow;
}

.is-not-favorite {
  color: grey;
}
.favorite-btn {
  padding: 2px;
  padding-top: 0;
}
