<div class="row" *ngIf="storeService.datas$ | async; let datas">

    <div class="col-auto">
        <ul class="list-group" style="width: 280px;">
            <a class="list-group-item list-group-item-action"
                *ngFor="let resource of datas.showableElements.resources; trackBy: resourceTrackByFn"
                [routerLink]="['/colony', resource.name]" routerLinkActive="active">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <i class="h6 fa fa-fw mr-1 icon-resource"
                            [ngClass]="'fa-' + resource.icon"></i>
                        <span [tr]="'resources.' + resource.name + '.name'"></span>
                    </div>
                    <div class="col-auto text-right">
                        <span [innerHTML]="datas | resources:resource:true"></span>
                        <div [innerHTML]="datas | production:resource"></div>
                    </div>
                </div>
            </a>
        </ul>
    </div>

    <div class="col">
        <div class="row g-2">
            <div class="col-auto" *ngFor="let building of (buildingsToShow$ | async); trackBy: buildingTrackByFn">
                <div class="card card-unit">
                    <div class="card-header">
                        <img [src]="'assets/buildings/' + building.building.name + '.png'" class="card-img-top">
                        <div class="card-title">
                            <span [tr]="'buildings.'+building.building.name+'.name'"></span>
                            <button (click)="backgroundAction.execute(storeService.addBuildingInFavorites(building.building))">Favorites</button>
                        </div>
                        <div class="card-count">
                            <small class="c-second">x</small>
                            {{building.count}}
                        </div>
                    </div>
                    <div class="card-body py-0 d-flex align-items-center" style="height: 3rem;">
                        <span [tr]="'buildings.'+building.building.name+'.description'"></span>
                    </div>
                    <div *ngIf="building.costNextLevel.length > 0" class="card-body">
                        <div class="small mb-1"><span class="c-second" tr>cost</span></div>
                        <div class="row g-2">
                            <div class="col-auto" *ngFor="let resourceCost of building.costNextLevel">
                                <i class="fa fa-fw mr-1 icon-resource" [ngClass]="'fa-' + resourceCost.resource.icon"></i>
                                <span [ngClass]="{'c-error': (resourceCost.isOk$ | async) >= 0}" class="c-first">{{resourceCost.count}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="building.produceNextLevel.length > 0" class="card-body">
                        <div class="small mb-1"><span class="c-second" tr>produce</span></div>
                        <div class="row g-2">
                            <div class="col-auto" *ngFor="let resourceProduce of building.produceNextLevel">
                                <i class="fa fa-fw mr-1 icon-resource" [ngClass]="'fa-' + resourceProduce.resource.icon"></i>
                                <span *ngIf="building.produceCurrentLevel.getElement(resourceProduce.resource.name); let current">
                                    <span class="c-error">+{{current.count}}</span> => 
                                </span>
                                <span class="c-success mr-1">+{{resourceProduce.count}}</span>
                                <small class="c-second">/sec</small>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="building.storageNextLevel.length > 0" class="card-body">
                        <div class="small mb-1"><span class="c-second" tr>storage</span></div>
                        <div class="row g-2">
                            <div class="col-auto" *ngFor="let resourceStorage of building.storageNextLevel">
                                <i class="fa fa-fw mr-1 icon-resource" [ngClass]="'fa-' + resourceStorage.resource.icon"></i>
                                <span *ngIf="building.storageCurrentLevel.getElement(resourceStorage.resource.name); let current">
                                    <span class="c-error">+{{current.count}}</span> => 
                                </span>
                                <span class="c-success">+{{resourceStorage.count}}</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary"
                        (click)="backgroundAction.execute(storeService.build(building.building))" tr>build</button>
                </div>
            </div>
        </div>
    </div>

</div>