<div class="row" *ngIf="storeService.datas$ | async; let datas">

    <div class="col-auto">
        <ul class="list-group" style="width: 280px;">
            <a class="list-group-item list-group-item-action" *ngFor="let resource of datas.showableElements.resources; trackBy: resourceTrackByFn" [routerLink]="['/colony', resource.name]">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <i *ngIf="datas.resources[resource]" class="h6 fa fa-fw mr-1 icon-resource"
                            [ngClass]="'fa-' + datas.resources[resource].icon"></i>
                        <span [tr]="'resources.' + resource.name + '.name'"></span>
                    </div>
                    <div class="col-auto">
                        ({{datas | production:resource}})
                    </div>
                    <div class="col-auto">
                        <span [innerHTML]="datas | resources:resource:true"></span>
                    </div>
                </div>
            </a>
        </ul>
    </div>

    <div class="col">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let building of (buildingsToShow | async); trackBy: buildingTrackByFn" >
                <fieldset>
                    <legend>{{building.type.name}} : {{building.count}}</legend>
                    <p [tr]="'buildings.'+building.type.name+'.description'"></p>
                    <ul>
                        <li *ngFor="let resourceCost of building.cost">
                            <span [tr]="'resources.' + resourceCost.resource.name + '.name'">{{resource}}</span>
                            : {{resourceCost.count}}
                        </li>
                    </ul>
                    <button class="btn btn-primary" (click)="backgroundAction.execute(storeService.build(building.type))" tr>build</button>
                </fieldset></li>
        </ul>
    </div>

</div>