<fieldset>
    <legend tr>favorites</legend>
    <ul>
        <li *ngFor="let favorite of (favorites$ | async); trackBy: favoriteTrackByFn">
            <div class="favorite">
                <span [tr]="favorite.name"></span>
                <span *ngIf="(favorite.timeBeforeUnlock | async); let time">
                    <span *ngIf="time > 0">({{time | time}})</span>
                </span>
                <i class="fa fa-star btn favorite-btn" (click)="favorite.remove()"></i>
            </div>
            <button class="btn btn-primary" (click)="favorite.actionPlus()"
                [disabled]="(favorite.timeBeforeUnlock | async) > 0" [tr]="favorite.buttonText"></button>

            <button class="btn btn-primary col-6" *ngIf="favorite.actionMoins" [disabled]="favorite.canActionMoins === false"
                (click)="favorite.actionMoins()" tr>destroy</button>
        </li>
    </ul>
</fieldset>