<div class="modal-header">
    <h4 class="modal-title pull-left">Modification de {{element.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
        <div class="form-group">
            <label for="researchName">Name</label>
            <input type="text" formControlName="name" name="researchName" class="form-control"
                placeholder="Research name" [ngClass]="{'is-invalid': formGroup.controls.name.errors}">
            <small class="form-text text-muted">Name of the research</small>
        </div>
        <div class="form-group">
            <label for="levelMax">Level max</label>
            <input type="number" formControlName="levelMax" name="levelMax" class="form-control"
                placeholder="Level maximum">
            <small class="form-text text-muted">Maximum level of the research (0=infinity)</small>
        </div>
        <div class="form-group">
            <label for="cost">Cost</label>
            <app-resource-type-form [formSrc]="formGroup.controls.cost" [allResources]="context.allResources"></app-resource-type-form>
        </div>
        <div class="form-group">
            <label for="bonusResources">Bonus Resources</label>
            <app-resource-type-form [formSrc]="formGroup.controls.bonusResources" [allResources]="context.allResources"></app-resource-type-form>
        </div>
        <div class="form-group">
            <label for="bonusBuildingCosts">Bonus Building Costs</label>
            <app-resource-type-form [formSrc]="formGroup.controls.bonusBuildingCosts" [allResources]="context.allResources"></app-resource-type-form>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>